/* CSS Reset*/
* {
  margin: 0;
  padding: 0;
}

.form-container {
  background-color: lightgray;
}

.flash-message {
  background-color: rgb(255, 141, 141);
  color: rgb(66, 1, 1);
}

h1 {
  margin-bottom: 30px;
}

input {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  margin-left: -8px;
  font-weight: bold;
}

.btn {
  width: 100px;
  margin-top: 10px;
  margin-left: -10px;
}