<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div style="background-color: {{colorOne}}; color: {{colorTwo}}" class="title">*** CheckerBoard ***</div>
        {% for i in range(row): %}
            {% if i%2 == 0: %}
                <div class="board-row">
                {% for j in range(col): %}
                    {% if j%2 == 0 : %}
                        <div style="background-color: {{colorOne}}" class="even box"></div>
                    {% else %}
                        <div style="background-color: {{colorTwo}}" style class="odd box"></div>
                    {% endif %}
                {% endfor %}
                </div>
            {% else: %}
                <div class="board-row">
                {% for j in range(col): %}
                    {% if j%2 == 0: %}
                        <div style="background-color: {{colorTwo}}" class="odd box"></div>
                    {% else %}
                        <div style="background-color: {{colorOne}}" class="even box"></div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>